<section class="about h-100">
  <div class="container mt-5 h-100" >
    <div class="row h-100 w-100 flex-md-nowrap">
      <div class="col-md-6 me-5">
        <div class="title text-right" dir="rtl">
          <h1 class="mainFont text-center ">عن الشركة</h1>
          <h3  >  هى شركة متخصصة ورائدة فى مجال إستيراد وتوزيع المواد الخام الكيميائية و الأسمدة الزراعية بأعلى جودة.
            وتقدم خدمة تصنيع منتج نهائى تحت إشراف خبراء و متخصصين فى هذا المجال لتقديم الخدمة بكفاءة وجودة عالية.
            كما تمتلك شبكة واسعة من الموزعين فى جميع أنحاء الجمهورية لسهولة الوصول لعملائنا فى أسرع وقت.</h3>

        </div>
      </div>
      <div class="col-md-6 images">
        <div class="image1 image cursor-pointer">
          <a [routerLink]="['/product/مبيدات فطرية خام']">
            <div class="text-light mainFont text-lg position-relative top-30 ps-3">مبيدات فطرية خام</div>
          </a>

        </div>
        <div class="twoDiv mt-3">

          <a [routerLink]="['/product/منظمات نمو خام']">
            <div class="image2 float-end image cursor-pointer">
              <div class="text-light mainFont text position-relative top-30 ps-3">منظمات نمو خام </div>
            </div>
          </a>
          <a [routerLink]="['/product/منظمات نمو منتج نهائي']">
            <div class="image3 float-start image cursor-pointer">
              <div class="text-light mainFont text position-relative top-30 ps-3">منظمات نمو منتج نهائي </div>
            </div>
          </a>

        </div>
        <div class="clr"></div>
        <div class="mt-3">
          <a [routerLink]="['/product/مبيدات حشرية منتج نهائي']">
            <div class="image4 float-start image cursor-pointer">
              <div class="text-light mainFont text position-relative top-30 ps-3">مبيدات حشرية منتج نهائي </div>
            </div>
          </a>
          <a [routerLink]="['/product/مبيدات حشرية خام']">
            <div class="image5 float-end image cursor-pointer">
              <div class="text-light mainFont text position-relative top-30 ps-3"> مبيدات حشرية خام </div>
            </div>
          </a>

        </div>
        <div class="clr"></div>
        <a [routerLink]="['/product/مبيدات فطرية منتج نهائى']">
          <div class="image6  mt-3  image cursor-pointer">
            <div class="text-light mainFont text-lg position-relative top-30 ps-3">مبيدات فطرية منتج نهائى</div>
          </div>
        </a>


      </div>
    </div>
  </div>

</section>
