
<div class="row align-items-center justify-content-around py-4 px-3 flex-wrap ">
  <div class="col-md-4 image ">
    <lib-ngx-image-zoom class=""
    [thumbImage]=myThumbnail
    [fullImage]=myFullresImage
    [magnification]="1"
    [enableScrollZoom]="true"
    [enableLens]="true"
    [lensWidth]="200"
    [lensHeight]="200"
    [circularLens]="true"
    ></lib-ngx-image-zoom>
  </div>
  <div class="col-md-8 text w-50" dir="rtl">
      <h1 class=" mainFont fw-bolder mb-2 me-5">{{product?.name}}</h1>
      <p class="font-lg p-3">{{product?.Description}}</p>
          <p class=" font-lg fw-bold ">{{product?.avilable}}</p>
          <p class=" font-lg fw-bold ">{{product?.counter}}</p>
  </div>
</div>
