<div class=" py-2 gx-0">
  <div class="row-cols-1 h-100 w-100">
      <owl-carousel-o [options]="customOptions">

          <ng-template carouselSlide>
            <div class="mainImage">
              <img height="700" src="assets/images/young plant growing in garden with sunlight.jfif" alt="">

            </div>
            <div class="box w-100 ">
              <div class="text ">
                <p  class=" fontHeader text-light " >ايبيكو للكيماويات</p>
                <p class="font-lg fontSecond  text-light" >شركة متخصصة في خامات الكيماويات والاسمده الزراعيه</p>
              </div>
              <div class="buttons d-flex justify-content-evenly w-50  flex-nowrap">
                <a [routerLink]="['/product',nameCategoryRow]" class="btn font-md" ><span >مواد خام</span></a>
                <a [routerLink]="['/product',nameCategory]" class="btn font-md"><span>مواد مصنعة</span></a>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="mainImage">
              <img height="700" src="assets/images/a65b74021711e01ee8fe87c63daa3bf4.jpg" alt="">
            </div>
            <div class="box w-100 ">
              <div class="text ">
                <p  class=" fontHeader text-light " >ايبيكو للكيماويات</p>
                <p class="font-lg fontSecond  text-light" >شركة متخصصة في خامات الكيماويات والاسمده الزراعيه</p>
              </div>
              <div class="buttons d-flex justify-content-evenly w-50  flex-nowrap">
                <a [routerLink]="['/product',nameCategoryRow]" class="btn font-md" ><span >مواد خام</span></a>
                <a [routerLink]="['/product',nameCategory]" class="btn font-md"><span>مواد مصنعة</span></a>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="mainImage">
              <img height="700" src="assets/images/10,963,109 Nature Stock Video Footage - 4K and HD Video Clips _ Shutterstock.jfif" alt="">
            </div>
            <div class="box w-100 ">
              <div class="text ">
                <p  class=" fontHeader text-light " >ايبيكو للكيماويات</p>
                <p class="font-lg fontSecond  text-light" >شركة متخصصة في خامات الكيماويات والاسمده الزراعيه</p>
              </div>
              <div class="buttons d-flex justify-content-evenly w-50  flex-nowrap">
                <a [routerLink]="['/product',nameCategoryRow]" class="btn font-md" ><span >مواد خام</span></a>
                <a [routerLink]="['/product',nameCategory]" class="btn font-md"><span>مواد مصنعة</span></a>
              </div>
            </div>


          </ng-template>
        </owl-carousel-o>
  </div>

</div>
