<div class=" py-2 gx-0">
  <div class="row-cols-1 h-100 w-100 home">
      <owl-carousel-o [options]="customOptions">

          <ng-template carouselSlide>
            <div class="mainImage ">
              <img height="500" src="assets/images/0000 (3).jpg" alt="background Image">
            </div>
            <div class="box w-100 text-light">
              <div class="text w-100">
                <p  class=" fontHeader text-light text-center" >EPICO Chemicals</p>
                <div class="horizontal-line"></div>
                <div class="w-50 position-absolute text-box-Second ">
                  <p class="font-md fontSecond  text-light" >A site that sells all types of agricultural pesticide <br>raw materials and public health pesticides</p>
                </div>

                <ul class="nav list ">
                  <li class="me-3">
                    <a href="https://www.facebook.com/EpicoChemicals" target="_blank"><i class="fa-brands fa-facebook" style="color: #fcfcfc;"></i></a>
                  </li>
                  <li class="me-3">
                    <a href="https://api.whatsapp.com/send?phone=201147068993"><i class="fa-brands fa-whatsapp" style="color: #fcfcfc;"></i></a>
                  </li>
                  <li class="me-3">
                    <a href="tel: +201147068993" target="_blank"><i class="fa-solid fa-phone" style="color: #fcfcfc;"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="mainImage">
              <img height="500" src="assets/images/10.jpg" alt="">
            </div>
            <div class="box w-50 ">
              <div class="mainImage2 w-100">
                <img  src="assets/images/logo2.png" alt="" class="w-50">
                <div class="horizontal-line2"></div>
              </div>
              <ul class="nav list2 "> 
                <li class="me-3">
                  <a href="https://www.facebook.com/EpicoChemicals" target="_blank"><i class="fa-brands fa-facebook" style="color: #fcfcfc;"></i></a>
                </li>
                <li class="me-3">
                  <a href="https://api.whatsapp.com/send?phone=201147068993"><i class="fa-brands fa-whatsapp" style="color: #fcfcfc;"></i></a>
                </li>
                <li class="me-3">
                  <a href="tel: +201147068993" target="_blank"><i class="fa-solid fa-phone" style="color: #fcfcfc;"></i></a>
                </li>
              </ul>
            </div>
          </ng-template>
        </owl-carousel-o>
  </div>

</div>
